.container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    font-size: x-large;
}


.box{
width: 150px;
height: 150px;
margin: 5px
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#gray {
    background-color: grey;
}