body{
  background-color: #ededed;
}
.div-principal{
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 100px;
  background-color: #fff;
  display: flex;


}
.panel-superior {
  max-width: 900px;
  width: 100%;
  background-color: #032550;
  color: #fff;

}

